<section class="laptop">
  <h1> Easy splitting of Managing expenses</h1>
  <h2>The simplest way to calculate & manage your expenses online</h2>
  <div style="text-align:center;">
    <button pButton type="button" (click)="createEntry()" label="Start Here" class="ui-button-warning"></button>
  </div>
</section>

<section class="text">
  <h3>Works on all platforms</h3>

  <p>It just works on every device that has a decent browser. No apps required.</p>

  <p>For most folks, debt isn’t the problem — spending is. Even if someone were to wipe out your debt balance, are you
    confident that you wouldn’t plunge right back into that hole? If you can get your spending under control, then your
    debt problem will become much easier to manage.</p>

  <p>Expense Tracker is an awesome app that connects to all of your financial accounts (namely credit cards and billed
    services) and automatically tracks all of your due dates and amounts each month. You can also pay it all through the
    Prism app itself, meaning you no longer have to juggle a million websites and logins! It really doesn’t get any
    easier than this.</p>
</section>

<section class="coffee">
  <ul>
    <li>Here's an example</li>
    <li>Everyone can then see how much they owe and to whom. They can settle up and get on with the fun things in
      life.
    </li>
    <li>Flexible Reports options.</li>
    <li>Interactive chart visualization.</li>
    <li>Easy Analysis.</li>
  </ul>
</section>
